<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>book</display-name>
  <description>Book Info</description>
  <welcome-file-list>
    <welcome-file>book.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>book</servlet-name>
    <jsp-file>/book.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>bookProcessing</servlet-name>
    <servlet-class>books.BookProcessing</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryForm</servlet-name>
    <jsp-file>/queryForm.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>queryFormProcessing</servlet-name>
    <servlet-class>books.QueryFormProcessing</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>books.Delete</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bookProcessing</servlet-name>
    <url-pattern>/bookProcessing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryForm</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryFormProcessing</servlet-name>
    <url-pattern>/queryFormProcessing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>
